/* some custom css goes here */
body { /*	background-color: #edf1e1;*/
	background-color: #fefefe;
}

#banner {
	background-color: #658F28;
	border-bottom: 1px solid #88B615;
	color: white;
}

#breadcrumbs {
	background-color: #0C430E;
	border-bottom: 1px solid #AAAAAA;
	color: white;
}

#breadcrumbs a {
	color: white;
}

#breadcrumbs a:hover {
	color: #88B615;
}

#leftColumn {
	background-color: #daeec3
}

#navcolumn li {
	background-color: #daeec3;
}

h2,h3 {
	background-color: #DAEEC3;
	border: 5px double white;
	color: #658F28;
}

a,a:link {
	color: #0C430E;
}

a:visited {
	color: #0C430E;
}

a:active,a:hover {
	color: #658F28;
}

a.externalLink {
	color: #0C430E;
}

table.bodyTable th {
	background-color: #658F28;
	letter-spacing: 
}

table.bodyTable tr.a {
	background-color: #cbdeb6;
}

table.bodyTable tr.b {
	background-color: #DAEEC3;
}

dl,dl * {
	background-color: transparent;
	padding: 0px;
	border: 0px none;
}

dl.changelog ul {
	margin: 0px;
	padding: 0px;
}